@import 'nib'
@import 'jeet'
@import 'stylus-platonic'

#stylus-tests
  zoom: 1

dashy = dashed

.stylus-dashy-left-border
  border-left: 1px dashy black

.stylus-nib-gradient
  background: linear-gradient(top, white, black)

.stylus-nib-autoprefixed-transition
  transition: all 1s ease

.stylus-jeet-column
  column(1/4, offset: 1/4)

.stylus-rupture-media-query
  color: red

  +above(1px)
    color: blue

.stylus-axis-border
  b()

.stylus-platonic-pentagon
  pentagon(translate-x: 80px)
